In [11]:
from transformers import AutoModelForSequenceClassification,AutoTokenizer,pipeline
model = AutoModelForSequenceClassification.from_pretrained('uer/roberta-base-finetuned-chinanews-chinese')
tokenizer = AutoTokenizer.from_pretrained('uer/roberta-base-finetuned-chinanews-chinese')
text_classification = pipeline('sentiment-analysis', model=model, tokenizer=tokenizer)
text_classification("北京上个月召开了两会")

[{'label': 'mainland China politics', 'score': 0.7211664915084839}]

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('/content/train_sample.csv')

In [14]:
data

      Unnamed: 0                     NEWS_TITLE NEWS_ORIGIN_SOURCE   NEWS_ID
0       39580162  上证50ETF期权：建议继续保持现有现货头寸，期权暂不操作                NaN  17460390
1       37691618              10月15日上海银行间同业拆放利率                NaN  15295190
2       34364484         凯石全球：澳元降息暗示宽松尾声 美指下行加剧                NaN  11367204
3       38150902              听取市政府党组前三季度工作情况汇报                NaN  15812074
4       35415373              宋清辉：2025，中国民营将成主角                NaN  12703985
...          ...                            ...                ...       ...
9995    45080470       林心如吸金有术，十八年间「还珠三美」商业版图惊人                NaN  24136409
9996    37002622             中信证券总经理等人被公安机关依法调查                NaN  14545126
9997    40371248        台南地震遇难人数上升至41人 重型机具多点救援                NaN  18357276
9998    39472980                       跨年晚会家家强？                NaN  17340936
9999    36416513               提升领导干部运用法治思维方式能力                NaN  13879745

[10000 rows x 4 columns]

In [15]:
data['text_classification'] = data.NEWS_TITLE.apply(lambda x: text_classification(x))

In [25]:
data.sample(5)

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification
9461,39815363,策略研究:绝地反击重回3000点,NaN,17723781,"[{'label': 'financial news', 'score': 0.998812..."
7955,44238524,沪市价格创3月新低股(51只),巨灵信息,22771379,"[{'label': 'financial news', 'score': 0.998407..."
4911,33562265,淘寶十二周年感恩回馈活动,生意社,10338603,"[{'label': 'financial news', 'score': 0.449244..."
4378,41949358,匡时国际上市破解资金之困 借道模式或引业内效仿,北京商报,20275889,"[{'label': 'financial news', 'score': 0.970272..."
3495,46536845,双汇发展：博时基金等17家机构密集调研双汇发展,NaN,26565139,"[{'label': 'financial news', 'score': 0.997272..."

In [22]:
data.text_classification.apply(lambda x: len(x)).unique()

array([1])

In [24]:
data.text_classification.apply(lambda x: x[0]['label']).unique()

array(['financial news', 'mainland China politics', 'International news',
       'culture', 'sports', 'Hong Kong - Macau politics', 'entertainment'],
      dtype=object)

In [33]:
data['category'] = data.text_classification.apply(lambda x: x[0]['label'])

In [34]:
data.loc[9995]

Unnamed: 0                                                      45080470
NEWS_TITLE                                      林心如吸金有术，十八年间「还珠三美」商业版图惊人
NEWS_ORIGIN_SOURCE                                                   NaN
NEWS_ID                                                         24136409
text_classification    [{'label': 'entertainment', 'score': 0.9038226...
category                                                   entertainment
Name: 9995, dtype: object

In [35]:
data[data.category == 'entertainment']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
95,43933189,AKB48总选举来了！618花椒带你全程直播,NaN,22392936,"[{'label': 'entertainment', 'score': 0.9974337...",entertainment
119,38630088,陈浩民：惊人效果全靠聚少离多,NaN,16336705,"[{'label': 'entertainment', 'score': 0.9791207...",entertainment
189,43484108,创维《跨界歌王》首战惊艳，刘涛王凯人气开唱,NaN,21926771,"[{'label': 'entertainment', 'score': 0.9966617...",entertainment
268,45702548,焦恩俊晒女儿庆生 焦恩俊与前妻为什么离婚？【图】,人民网,25158362,"[{'label': 'entertainment', 'score': 0.9988252...",entertainment
370,35852725,7月全国电影票房达54.9亿元 国产电影创纪录,NaN,13235130,"[{'label': 'entertainment', 'score': 0.9322344...",entertainment
...,...,...,...,...,...,...
9808,38878111,田亮晒与爱女晨练照 森碟压腿跑步活力十足,中国新闻网,16647092,"[{'label': 'entertainment', 'score': 0.9069318...",entertainment
9870,40943998,在白色情人节 品味新K2的暖男气质,NaN,19010644,"[{'label': 'entertainment', 'score': 0.9974557...",entertainment
9904,36453684,婚外情网站泄密致两人自杀 公司悬赏找黑客,NaN,13923642,"[{'label': 'entertainment', 'score': 0.6180115...",entertainment
9995,45080470,林心如吸金有术，十八年间「还珠三美」商业版图惊人,NaN,24136409,"[{'label': 'entertainment', 'score': 0.9038226...",entertainment
9998,39472980,跨年晚会家家强？,NaN,17340936,"[{'label': 'entertainment', 'score': 0.8380638...",entertainment

In [36]:
data[data.category == 'culture']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
23,40839224,官山故里小河弯,NaN,18891689,"[{'label': 'culture', 'score': 0.9839416146278...",culture
56,40583145,揭秘战斗民族“富二代”的奢华生活(组图),NaN,18596939,"[{'label': 'culture', 'score': 0.9791011810302...",culture
85,44788569,“中国艺术家应有更强的文化自信”,NaN,23661170,"[{'label': 'culture', 'score': 0.9616035223007...",culture
91,39801011,甲状腺癌遗传基因“显形”,NaN,17708075,"[{'label': 'culture', 'score': 0.4727920889854...",culture
114,37954405,化石老戏进退两难,NaN,15591800,"[{'label': 'culture', 'score': 0.9062131643295...",culture
...,...,...,...,...,...,...
9948,39482600,“何绍基的书法世界”开幕 穿越百年与大师对话（图）,NaN,17351120,"[{'label': 'culture', 'score': 0.9965651631355...",culture
9949,33871646,南美小伙“微笑”奏响《茨冈狂想曲》,星辰在线-长沙晚报,10730081,"[{'label': 'culture', 'score': 0.8124908208847...",culture
9970,32750216,扯扯“西方价值观”,环球网评论,9350601,"[{'label': 'culture', 'score': 0.7371584177017...",culture
9977,32588360,133个微信公众账号被关闭,天津日报,9117942,"[{'label': 'culture', 'score': 0.4763846695423...",culture
9992,36135095,重庆举办抗战主题连环画展,NaN,13556651,"[{'label': 'culture', 'score': 0.9239003062248...",culture

In [37]:
data[data.category == 'financial news']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
0,39580162,上证50ETF期权：建议继续保持现有现货头寸，期权暂不操作,NaN,17460390,"[{'label': 'financial news', 'score': 0.999178...",financial news
1,37691618,10月15日上海银行间同业拆放利率,NaN,15295190,"[{'label': 'financial news', 'score': 0.996534...",financial news
2,34364484,凯石全球：澳元降息暗示宽松尾声 美指下行加剧,NaN,11367204,"[{'label': 'financial news', 'score': 0.995518...",financial news
5,44564863,604亿资金争夺20股：主力资金重点出击9股（名单）,中国资本证券网,23292543,"[{'label': 'financial news', 'score': 0.998852...",financial news
6,33850668,百度称客户遭莆田总会恐吓 莆田系回应称系个案,NaN,10706833,"[{'label': 'financial news', 'score': 0.826655...",financial news
...,...,...,...,...,...,...
9986,43768554,黄金价格上涨之后 中国5月停止月度黄金购买,NaN,22222181,"[{'label': 'financial news', 'score': 0.975686...",financial news
9987,38116168,10月广州卖地54.7亿元 多宗宅地抢手溢价,NaN,15774264,"[{'label': 'financial news', 'score': 0.917174...",financial news
9988,37010689,诚志股份定增120亿收编惠生能源,上海证券报,14553659,"[{'label': 'financial news', 'score': 0.997177...",financial news
9989,44658723,中国海诚工程科技股份有限公司公告（系列）,NaN,23446456,"[{'label': 'financial news', 'score': 0.968080...",financial news
9996,37002622,中信证券总经理等人被公安机关依法调查,NaN,14545126,"[{'label': 'financial news', 'score': 0.730983...",financial news

In [38]:
data[data.category == 'mainland China politics']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
3,38150902,听取市政府党组前三季度工作情况汇报,NaN,15812074,"[{'label': 'mainland China politics', 'score':...",mainland China politics
4,35415373,宋清辉：2025，中国民营将成主角,NaN,12703985,"[{'label': 'mainland China politics', 'score':...",mainland China politics
15,38133856,让居民就近获得优质医疗服务,NaN,15793404,"[{'label': 'mainland China politics', 'score':...",mainland China politics
16,38011099,荷兰国王访沪展示荷兰欲成“一带一路”合作伙伴决心,NaN,15655789,"[{'label': 'mainland China politics', 'score':...",mainland China politics
40,37949880,10月26日央视新闻联播精编,NaN,15585197,"[{'label': 'mainland China politics', 'score':...",mainland China politics
...,...,...,...,...,...,...
9984,40264421,“飞秒摘镜”咨询量增加三成以上,NaN,18236282,"[{'label': 'mainland China politics', 'score':...",mainland China politics
9991,34169296,李克强再次敦促银行降收费：帮助企业爬坡过坎,NaN,11115139,"[{'label': 'mainland China politics', 'score':...",mainland China politics
9993,43693942,打造共享经济时代的开放金融,NaN,22144432,"[{'label': 'mainland China politics', 'score':...",mainland China politics
9994,36498980,伊犁州7人获第四届自治区道德模范殊荣,NaN,13975862,"[{'label': 'mainland China politics', 'score':...",mainland China politics
9999,36416513,提升领导干部运用法治思维方式能力,NaN,13879745,"[{'label': 'mainland China politics', 'score':...",mainland China politics

In [39]:
data[data.category == 'International news']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
20,38648745,韩政府禁止公民赴菲律宾三宝颜市和周边群岛旅游,NaN,16356836,"[{'label': 'International news', 'score': 0.96...",International news
60,32996434,祈愿者投食过多 孟加拉百岁鳄鱼被胖死了,NaN,9646369,"[{'label': 'International news', 'score': 0.99...",International news
99,37455772,印尼高铁项目再生变： 印尼向日通报“欢迎”中国新方案,21世纪经济报道,15038944,"[{'label': 'International news', 'score': 0.72...",International news
115,43421747,神秘感消失 保密不力恐影响iPhone7销量,NaN,21862205,"[{'label': 'International news', 'score': 0.65...",International news
121,41742570,直通埃及 沙特宣布将建“亚非大桥”,NaN,20042387,"[{'label': 'International news', 'score': 0.45...",International news
...,...,...,...,...,...,...
9739,32407156,英国或将提前举行是否退出欧盟的公投,,8875242,"[{'label': 'International news', 'score': 0.89...",International news
9799,45127424,潘基文谈朝鲜试射导弹：吁朝改变态度重返对话桌,NaN,24197488,"[{'label': 'International news', 'score': 0.99...",International news
9818,46393774,【美国大选总统终辩“汇通观察”之“中国选民”看好希拉里】,NaN,26307385,"[{'label': 'International news', 'score': 0.99...",International news
9900,39874665,几内亚-摩洛哥商业论坛18日开幕,NaN,17796657,"[{'label': 'International news', 'score': 0.52...",International news
9956,47090315,巴西圣保罗州发现今年的首例亚洲锈病,NaN,27450014,"[{'label': 'International news', 'score': 0.58...",International news

In [40]:
data[data.category == 'sports']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
32,35968585,男排亚锦赛中泰争四强 半决赛或遭遇伊朗队,NaN,13367079,"[{'label': 'sports', 'score': 0.99988305568695...",sports
88,37382017,和外教一起过中秋,NaN,14956227,"[{'label': 'sports', 'score': 0.89475595951080...",sports
116,36024187,广州散打夺1金1银,NaN,13430532,"[{'label': 'sports', 'score': 0.99980062246322...",sports
127,38255229,张家界黄石寨极限自行车挑战赛江思翰夺冠速降赛,NaN,15925955,"[{'label': 'sports', 'score': 0.99872130155563...",sports
175,38541592,爷爷背百斤山货走2.5小时下山 想救2岁白血病孙女[泪],NaN,16239119,"[{'label': 'sports', 'score': 0.45156288146972...",sports
...,...,...,...,...,...,...
9711,44277336,2016年国际网联男子网球巡回赛龙岩站开赛,NaN,22829338,"[{'label': 'sports', 'score': 0.99945634603500...",sports
9820,39017530,郭广昌“失联”后首度现身,中国新闻网,16805632,"[{'label': 'sports', 'score': 0.648400068283081}]",sports
9933,34940839,加油中国足球冠军联赛启动,NaN,12113293,"[{'label': 'sports', 'score': 0.99875950813293...",sports
9961,41764535,越南19岁女孩不仅是选美冠军 还是个拳击手,NaN,20066947,"[{'label': 'sports', 'score': 0.55018115043640...",sports
9972,41529620,【近期要闻】雷士/珈伟/雪莱特最近在干啥？,来源：照明周刊,19800179,"[{'label': 'sports', 'score': 0.81539648771286...",sports

In [41]:
data[data.category == 'Hong Kong - Macau politics']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
92,36228285,前海即将成立两大自贸商城,NaN,13661991,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
241,34155467,华富港股(4月23日)快讯,华富嘉洛证券,11095084,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
278,34664993,澳门肇庆同乡会抵广东高要参观考察,NaN,11749907,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
294,35117449,机构市占率下降 港股现A股化势头,中国证券报・中证网,12325720,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
304,39795813,台币续创逾六年半新低 韩元贬值及外资汇出影响,NaN,17701593,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
...,...,...,...,...,...,...
9721,45029789,访港旅客连降13个月 跌幅收窄,中国新闻网,24058257,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
9745,38914614,恒指收市报21803点 下跌101点,NaN,16688925,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
9779,42826541,台湾女主播喝醉被召回 红脸报郑捷枪决新闻(图),NaN,21233088,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
9990,40410962,专访港交所行政总裁李小加：人民币国际化要有商品载体,NaN,18400313,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics
9997,40371248,台南地震遇难人数上升至41人 重型机具多点救援,NaN,18357276,"[{'label': 'Hong Kong - Macau politics', 'scor...",Hong Kong - Macau politics

In [2]:
import os, sys
from google.colab import drive

In [7]:
# drive.mount('/content/drive')
nb_path = 'content/notebooks'
os.symlink('/content/drive/MyDrive/Colab Notebooks', nb_path)
sys.path.insert(0, nb_path)

FileNotFoundError: ignored

In [8]:
os.listdir('/content/drive/MyDrive/Colab Notebooks')

['Test.ipynb', 'Q Learning.ipynb']

In [9]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.22.0-py3-none-any.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 4.1 MB/s
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 33.9 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.12.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Collecting huggingface-hub<1.0,>=0.9.0
  Downloading huggingface_hub-0.9.1-py3-none-any.whl (120 kB)
     |████████████████████████████████| 120 kB 41.7 MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.9.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.6.15)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.9.1 tokenizers-0.12.1 transformers-4.22.0